# Sample linker configuration for C programs using the Atari binary file support.
# Use with: cl65 -tatari -Catari-c-xex.cfg prog.c -o prog.xex
FEATURES {
    STARTADDRESS: default = $2000;
}
SYMBOLS {
    __SYSTEM_CHECK__:    type = import;  # force inclusion of "system check" load chunk
    __STACKSIZE__:       type = weak, value = $0800; # 2k stack
    __STARTADDRESS__:    type = export, value = %S;
    __RESERVED_MEMORY__: type = weak, value = $0000;
    __SYSCHKHDR__:       type = export, value = 0; # Disable system check header
    __SYSCHKTRL__:       type = export, value = 0; # Disable system check trailer
}
MEMORY {
    ZP:         file = "", define = yes, start = $0082, size = $007E;
# "system check" load chunk
    SYSCHKCHNK: file = %O,               start = $2E00, size = $0300;
# "main program" load chunk
    MAIN:       file = %O, define = yes, start = %S,    size = $BC20 - __STACKSIZE__ - __RESERVED_MEMORY__ - %S;

    PHARAOSCHARSET_MEM: file = %O,               start = $1C00, size = $0400;
    
    PHARAOSCHARSET2_MEM: file = %O,               start = $4000, size = $0400;

    PHARAOSCHARSET3_MEM: file = %O,               start = $1800, size = $0400;
    
    PHARAOSDLIST_MEM: file = %O,               start = $1E00, size = $0018;

    PHARAOSSCR1_MEM: file = %O,               start = $4C17, size = $0028;

    PHARAOSSCR2_MEM: file = %O,               start = $3C00, size = $0200;
}
FILES {
    %O: format = atari;
}
FORMATS {
    atari: runad = start,
           initad = SYSCHKCHNK: __SYSTEM_CHECK__;
}
SEGMENTS {
    ZEROPAGE:  load = ZP,         type = zp;
    EXTZP:     load = ZP,         type = zp,                optional = yes;
    SYSCHK:    load = SYSCHKCHNK, type = rw,  define = yes, optional = yes;
    STARTUP:   load = MAIN,       type = ro,  define = yes;
    LOWBSS:    load = MAIN,       type = rw,                optional = yes;  # not zero initialized
    LOWCODE:   load = MAIN,       type = ro,  define = yes, optional = yes;
    ONCE:      load = MAIN,       type = ro,                optional = yes;
    CODE:      load = MAIN,       type = ro,  define = yes;
    RODATA:    load = MAIN,       type = ro;
    DATA:      load = MAIN,       type = rw;
    INIT:      load = MAIN,       type = rw,                optional = yes;
    BSS:       load = MAIN,       type = bss, define = yes;

    PHARAOSCHARSET:       load = PHARAOSCHARSET_MEM,       type = rw, define = yes;

    PHARAOSCHARSET2:       load = PHARAOSCHARSET2_MEM,       type = rw, define = yes;

    PHARAOSCHARSET3:       load = PHARAOSCHARSET3_MEM,       type = rw, define = yes;

    PHARAOSDLIST:       load = PHARAOSDLIST_MEM,      type = rw, define = yes;

    PHARAOSSCR1:       load = PHARAOSSCR1_MEM,       type = rw, define = yes;

    PHARAOSSCR2:       load = PHARAOSSCR2_MEM,       type = rw, define = yes;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}
